# Por defecto, todas las rutas requieren revisión del Administrador Principal (Tú - Ej: @daniel-delamo)
* @TuUsuarioGitHub

# El compañero tiene propiedad exclusiva sobre las carpetas de UniOrderManager
/app/uniordercreator/** @UsuarioGitHubCompañero
/components/uni-order-manager/** @UsuarioGitHubCompañero
