# Por defecto, todas las rutas requieren revisión del Administrador Principal (Tú - Ej: @daniel-delamo)
* @Isskion

# El compañero tiene propiedad exclusiva sobre las carpetas de UniOrderManager
/app/uniordercreator/** @Jesma89
/components/uni-order-manager/** @Jesma89
